body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo{
    width: 150px;
    margin-left: 20px;
}
.head span{
    padding: 20px;
    font-size: 20px;
    margin: 0 20px;
    text-align: end;
}
.menu{
   margin-left: 200px;
}
.head{
    margin-bottom: 20px;
}
.p-blog{
    
}
.blog{
  
   margin: 20px auto;
   width: 70%;
   background-color: aqua;
   border: 10px solid greenyellow;
   padding: 10px 15px;
   border-radius: 10px;
}